

<%= form_tag login_path, {class: 'col-lg-6 offset-lg-3'} do %>
    <h2>Sign in</h2>
    <div class="mb-3 col-6">
    <%= label_tag :email, nil, :class => 'form-label' %>
    <%= email_field_tag :email, nil, :class => 'form-control' %>
    </div>
    <div class="mb-3 col-6">
    <%= label_tag :password, nil, :class => 'form-label' %>
    <%= password_field_tag :password, nil, :class => 'form-control' %>
    </div>
    <%= submit_tag "Sign in", :class => 'btn authentication-btn' %>

<% end%>


