<% require 'news-api'%>

<% if @current_user.present?  %>
    <h2>Welcome <%= @current_user.first_name %>, </h2>

    <span>Trending stocks</span>
    <%= link_to "View more", stocks_path, :class => 'btn btn-outline-dark view-all' %>

    <% query = BasicYahooFinance::Query.new  %>    
     
    <div class="stock-wrapper">
        <% @featured_stocks.each do |stock|%>
        <% info = query.quotes(stock.symbol)%>      
        <div class="stock-card">
            <div class="top">
                <div class="card-top">                                       
                    <%= link_to image_tag(("https://etoro-cdn.etorostatic.com/market-avatars/#{stock.symbol.downcase}/150x150.png"), :class => 'stock-icon-card'), stock %>  
                </div>                
                <div class="card-top">
                    <p class="symbol-text-card"> <%= stock.symbol %></p>
                    <p class="name-card"> <%= info[stock.symbol]['displayName'] %></p>
                </div>            
            </div>            
            <div class="card-bottom">
                <span><%= number_to_currency info[stock.symbol]['regularMarketPrice'] %></span>   
                <% change_percent = info[stock.symbol]['regularMarketChangePercent'] %>
                <% if change_percent > 0 %>
                    <span class="green"><%= number_to_percentage change_percent %></span>
                <% else %>
                    <span class="red"><%= number_to_percentage change_percent %></span>
                <% end %>            
            </div>      
        </div>
        <% end %>  
    </div>

    <p class="second-level-header">Financial news</p>
    <div class="news-wrapper-home">        
        <% news_info =  News.new(ENV["NEWS_API_KEY"]) %>
        <% all_news = news_info.get_top_headlines(category: "business", language: "en")%>
        <% news = all_news.first(12) %>
        <% news.each do |n| %>
        <div class="news-card-home" >
            <h5 class="card-title news-title-home"> <%= link_to truncate(n.title, :length => 50), n.url, target: '_blank' %> </h5>
            <%= image_tag(n.urlToImage || "https://www.newsanyway.com/wp-content/uploads/2022/03/In-the-news-4-10-March-2022.jpg", :class => 'card-img-top') %>
            <div class="card-body">
                <p class="card-title news-desc-home"> <%= truncate(n.description, :length => 100) %> </p>
            </div>
        </div> 
        <% end %>
    </div>    
<% end  %>