<% require 'news-api'%>

<% if @current_user.present?  %>
    <h2>Welcome <%= @current_user.first_name %>, </h2>

    <span>Trending stocks</span>
    <%= link_to "View more", stocks_path, :class => 'btn btn-outline-dark view-all' %>

    <% query = BasicYahooFinance::Query.new  %>    
     
    <div class="stock-wrapper">
        <% @featured_stocks.each do |stock|%>
        <% info = query.quotes(stock.symbol)%>      
        <div class="stock-card">
            <div class="top">
                <div class="card-top">                                       
                    <%= link_to image_tag(("https://etoro-cdn.etorostatic.com/market-avatars/#{stock.symbol.downcase}/150x150.png"), :class => 'stock-icon-card'), stock %>  
                </div>                
                <div class="card-top">
                <p class="symbol-text-card"> <%= stock.symbol %></p>
                <p class="name-card"> <%= info[stock.symbol]['displayName'] %></p>
              </div>            
            </div>            
            <div class="card-bottom">
                <span><%= number_to_currency info[stock.symbol]['regularMarketPrice'] %></span>   
                 <% change_percent = info[stock.symbol]['regularMarketChangePercent'] %>
                <% if change_percent > 0 %>
                    <span class="green"><%= number_to_percentage change_percent %></span>
                <% else %>
                    <span class="red"><%= number_to_percentage change_percent %></span>
                <% end %>            
            </div>      
        </div>
        <% end %>  
    </div>

    
 
    
<% end  %>